<head>
  <title>Bootstrap Index </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", project %>
    </p>
  <% end %>
</div>

<div id="new_project">
  <% if user_signed_in? %>
    <%= link_to "Add New Project", new_project_url %>
  <% end %>
</div>






