<div class="mt-4 p-5 bg-dark text-white rounded">
  <h1>Travis Bossio</h1>
  <p>This is a portfolio app created for CS3300. Allows for user authentication, multiple views,
  project links, and CRUD capabilities for portfolio projects.</p>
  <p>My name is Travis Bossio and I am a senior at University of Colorado Colorado Springs.
   I will graduate in the Spring of 2023 with a B.S. in Computer Science and a minor in Mathamatics.
   My favorite hobbies are playing golf, disc golf, and video games.</p>
   <a class="btn btn-primary" href="https://github.com/travisbossio" role="button">View Github</a>
</div>